* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
}


body {
    background-color: rgb(2, 0, 0);
}

/*=================== Nav-bar section ==================*/
.nav-bar {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(30px);
    border-bottom: solid 1px rgba(255, 255, 255, 0.349);
}

.nav-items {
    display: flex;
    margin: auto;
    justify-content: center;
}

.nav-items div {
    /* border: solid red 1px; */
    width: 27%;
    margin: auto;
    text-align: center;
    margin-top: 12px;
}

.logo {
    width: 200px;
    height: 50px;
    object-fit: fill;
}

#nav-buttos {
    width: 100%;
    margin-top: 10px;
    display: block;
}

#nav-buttos a {
    text-align: center;
    font-size: 15px;
    padding: 5px 15px;
    margin-left: 18px;
    border-radius: 7px;
    /* border: none; */
    text-decoration: none;
    color: #fff;
    /* background-color: #fff; */
    cursor: pointer;
    border: solid 1px rgba(226, 221, 221, 0.705);
}

#nav-buttos a:hover {
    box-shadow: rgba(78, 217, 241, 0.938) 2px 5px 40px 5px, rgb(91, 196, 241) 0px 2px 16px 0px;
}

#nav-profile {
    margin-right: 0px;
    width: 100%;
    padding: 5px 10px;
    color: #fff;
    display: none;
    /* background-color: white; */
}

.fa-user {
    font-size: 25px;
    cursor: pointer;
    margin-right: 8px;

}

.fa-user:hover {
    transition: 0.2s ease-in-out;
    box-shadow: rgba(78, 217, 241, 0.938) 2px 5px 40px 5px, rgb(91, 196, 241) 0px 2px 16px 0px;
}

.fa-cart-shopping {
    float: inline-end;
    font-size: 22px;
    cursor: pointer;
    color: white;
}

.fa-cart-shopping:hover {
    transition: 0.2s ease-in-out;
    background-color: transparent;
    box-shadow: rgba(78, 217, 241, 0.938) 2px 5px 40px 5px, rgb(91, 196, 241) 0px 2px 16px 0px;
}


.cards-container {
    width: 95%;
    margin: auto;
    margin-top: 70px;
    padding: 40px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 250px;
    height: 375px;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    border: solid 1px rgb(255, 255, 255);
}

.card-img {
    width: 95%;
    height: 200px;
    margin: auto;
    margin-bottom: 5px;
}

.card-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;
}

.card-buttons {
    text-align: center;
    margin-top: 19px;
}

.cart-order {
    margin-top: 2px;
    text-align: center;
    background-color: green;
}

.card-cart-btn {
    width: 90%;
    padding: 5px 5px;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    background-color: blueviolet;
}